# Ignore virtual environment and unnecessary files
# Ignore Python environment and compiled files
env/
__pycache__/
*.pyc
.DS_Store
*.m4a
*.mp4
*.conf


# Ignore Jupyter and other logs
.ipynb_checkpoints/
*.log

# Ignore system files
.DS_Store

# Ignore large dataset and model files
*.dylib
*.tflite
*.h5
*.pt
*.pkl
*.csv
*.pdf
